nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  ul {
    width: 100%;
    justify-content: flex-end;
  }
  p {
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
