.add-store {
  background-color: white;
  min-height: 80vh;
}
.checkboxes {
  padding-left: 16px;
  display: flex;
  padding-top: 16px;
  justify-content: space-around;
  font-size: 18px;
  display: inline-block;
}
.submissions {
  padding-top: 16px;

}
.options {
  padding: 8px;
  color: #E34515;
  font-family: sans-serif;
  font-weight: bold;


}
.emails {
  padding-left: 16px;
  padding-top: 16px;
  align-self: center;
}
.title {
  text-align: center;
  font-size: 25px;
  color: #E34515;
  font-weight: bold;

}
.submits {
  padding-top: 16px;
  align-self: center;
}
.boxes {
  padding-left: 8px;
}
p {

  display: flex;
}
form {
  background-color: white;
}
