.map {
  display: flex;
  flex-direction: row;
  form {
      .input[type=text]:not(.browser-default) {
          margin: 0;
      }
  }
}

.map-hover {
  padding: 7px;
  margin: 0 10px;
}
.map-hover:hover {
  background-color: $tallpoppy;
}
.btn-id {
  display: flex;
  flex-direction: row;
}

.search-input {
    width: 100%;
}
