main {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    color: $highland;
    padding: 20px;
}

.store-list {
    display: inherit;
    flex-flow: row wrap;
    justify-content: space-around;
}

.store {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 20px;
    padding: 40px;
    img {
        outline: 1px solid $highland;
    }
}

.storeInfo {
    padding: 0 40px;
}
